<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>np2p</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:/applicationContext-p2p.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
<!-- <filter>
    <filter-name>MenuFilter</filter-name>
    <filter-class>com.lawer.web.filter.MenuFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MenuFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping> -->
  <!--<filter>-->
    <!--<filter-name>CheckFromFilter</filter-name>-->
    <!--<filter-class>com.lawer.web.filter.CheckFromFilter</filter-class>-->
    <!--<init-param>-->
      <!--<param-name>url</param-name>-->
      <!--<param-value>/theme_rx,/favicon.ico,/plugins,/imageUp.jsp,/data,/mobile,/wechat</param-value>-->
    <!--</init-param>-->
  <!--</filter>-->
  <!--<filter-mapping>-->
    <!--<filter-name>CheckFromFilter</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
  <!--</filter-mapping>-->
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.lawer.web.filter.LoginFilter</filter-class>
    <init-param>
            <param-name>url</param-name>
            <param-value>/theme_rx,/login,/favicon.ico,/plugins,/mobile/login,/wechat</param-value>
        </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!--<filter>-->
    <!--<filter-name>PowerFilter</filter-name>-->
    <!--<filter-class>com.lawer.web.filter.PowerFilter</filter-class>-->
    <!--<init-param>  -->
            <!--<param-name>url</param-name>  -->
            <!--<param-value>/theme_rx,/login,/favicon.ico,/index.html,/404.html,/plugins,/imageUp.jsp,/data,/mobile,/wechat</param-value>-->
        <!--</init-param> -->
  <!--</filter>-->
  <!--<filter-mapping>-->
    <!--<filter-name>PowerFilter</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
  <!--</filter-mapping>-->
  <filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>com.lawer.web.filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>openEntityManagerInViewFilter</filter-name>
    <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>openEntityManagerInViewFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>characterEncoding</filter-name>
    <filter-class>
            org.springframework.web.filter.CharacterEncodingFilter
        </filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>characterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>Struts2</filter-name>
    <filter-class>
           com.lawer.web.filter.RdStrutsFilter
        </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Struts2</filter-name>
    <url-pattern>*.html</url-pattern>
    <url-pattern>*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <listener>
    <listener-class>
        com.lawer.web.listener.WebConfigContextListener
    </listener-class>
  </listener>
 
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>401</error-code>
    <location>/404.html</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/404.html</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/404.html</location>
  </error-page>
</web-app>